<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Vue.js - Campeonato Brasileiro 2018</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .escudo {
                width: 30px;
                height: 30px;
            }
        </style>
    </head>
    <body>
        <div id="app" class="container">
            <titulo></titulo>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <button class="btn btn-primary" @click="criarNovoJogo">Novo Jogo</button>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" v-show="visao!='tabela'">
                    <div class="form-inline"> 
                        <clube :time='novoJogo.casa.time' invertido='true' v-if='novoJogo.casa.time'></clube>
                        <input type="text" class="form-control col-md-1" v-model="novoJogo.casa.gols">

                        <span>&nbsp X &nbsp</span>

                        <clube :time='novoJogo.fora.time' invertido='false' v-if='novoJogo.fora.time'></clube>
                        <input type="text" class="form-control col-md-1" v-model="novoJogo.fora.gols">

                        <button type="button" class="btn btn-primary" @click="fimJogo">Fim de jogo</button> 
                        <br>
                        <br>
                    </div>
                </div>
                    <hr>
                    <div class="col-md-12" v-show="visao=='tabela'">
                        <tabela-clubes :times='times'></tabela-clubes>
                        <clubes-classificados :times='timesFiltrados'></clubes-classificados>
                        <clubes-rebaixados :times='times'></clubes-rebaixados>
                    </div>
                </div>
            </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <script src="time.js"></script>
        <script src="script.js"></script>
    </body>
</html>